			body {
				margin-left: 15%; margin-right: 10%
			}
			DIV {
				text-align : center;
				font-family : Arial;
				font-size : small;
				font-weight : bold;
			}

			h1 {
				COLOR: maroon; FONT-FAMILY: serif; FONT-SIZE: x-large; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: center
			}
			blockquote {
				BACKGROUND-COLOR: #FFFFCE;
				COLOR: black;
				FONT-FAMILY: serif;
				FONT-SIZE: medium;
				FONT-STYLE: italic;
				FONT-WEIGHT: 500;
				MARGIN-LEFT: 50px;
				MARGIN-RIGHT: 50px;
				TEXT-ALIGN: justify
			}
			h2 {
				margin-left: -8%; COLOR: navy; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}
			h3 {
				margin-left: -5%; COLOR: teal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}

			h4 {
				color: maroon; FONT-FAMILY: Times, Times Roman, serif; FONT-SIZE: large; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-ALIGN: center 
			}

			p {
				COLOR: black; FONT-FAMILY: serif; FONT-SIZE: large; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-ALIGN: justify
			}
			li {
				COLOR: black; FONT-FAMILY: serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: normal
			}
			ol {
				COLOR: black; FONT-FAMILY: serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: normal
			}
			ul {
				COLOR: black; FONT-FAMILY: serif; FONT-SIZE:medium; FONT-STYLE: normal; FONT-WEIGHT: normal
			}
			@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3           .sheet { width: 297mm; height: 419mm }
body.A3.landscape .sheet { width: 420mm; height: 296mm }
body.A4           .sheet { width: 210mm; height: 296mm }
body.A4.landscape .sheet { width: 297mm; height: 209mm }
body.A5           .sheet { width: 148mm; height: 209mm }
body.A5.landscape .sheet { width: 210mm; height: 147mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
}
